[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"

[packages]
fastapi = "*"
uvicorn = "*"
redis = "*"
pydantic = "*"
pydantic_core = "*"
pydantic-ai = "*"
python-dotenv = "*"
boto3 = { version = "*", markers="python_version == '0'" }
botocore = { version = "*", markers="python_version == '0'" }
s3transfer = { version = "*", markers="python_version == '0'" }

[dev-packages]